.technologiesContainer {
    background-color: rgb(252, 245, 245);
    @apply flex flex-col justify-start items-center;
    padding: 0;
    margin: 0;
}

.technologiesScrollContainer {
    background-color: rgb(252, 245, 245);
    @apply flex flex-col justify-between gap-y-10 md:gap-y-60 lg:gap-y-80;
    margin: 0;
    @apply w-full h-full;
}

@mixin white-gradient {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.45) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

@screen xs {
    $icon-width: 250px;
    $icon-height: $icon-width;
    $icon-margin: 10px;
}

@screen md {
}
$icon-width: 300px;
$icon-height: $icon-width;
$icon-margin: 15px;

@screen lg {
    $icon-width: 450px;
    $icon-height: $icon-width;
    $icon-margin: 25px;
}

$scroll-1-count: 14;
$scroll-2-count: 11;
$scroll-3-count: 18;

@keyframes scroll1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-1 * ($icon-width + 2 * $icon-margin) * $scroll-1-count)
        );
    }
}
@keyframes scroll2 {
    0% {
        transform: translateX(
            calc(-1 * ($icon-width + 2 * $icon-margin) * $scroll-2-count)
        );
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes scroll3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-1 * ($icon-width + 2 * $icon-margin) * $scroll-3-count)
        );
    }
}

.technologiesScrollView {
    @apply flex flex-row justify-start align-bottom;
    border-top: 4px solid rgba(188, 192, 198, 0.2);
    border-bottom: 4px solid rgba(188, 192, 198, 0.2);
    background-color: rgb(255, 251, 251);
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        @include white-gradient;
        content: '';
        height: $icon-height;
        position: absolute;
        width: $icon-width;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .technologiesScrollItem {
        width: $icon-width;
        height: $icon-height;
        margin: 0 $icon-margin;
        @apply flex justify-center items-center;

        img {
            opacity: 25%;
            height: calc($icon-height - 75px);
        }
    }
}

.technologiesScrollTrack1 {
    animation: scroll1 160s linear infinite;
    width: calc(($icon-width + 2 * $icon-margin) * $scroll-1-count * 2);
    @apply flex;
}

.technologiesScrollTrack2 {
    animation: scroll2 200s linear infinite;
    width: calc(($icon-width + 2 * $icon-margin) * $scroll-2-count * 2);
    @apply flex;
}

.technologiesScrollTrack3 {
    animation: scroll3 120s linear infinite;
    width: calc(($icon-width + 2 * $icon-margin) * $scroll-3-count * 2);
    @apply flex;
}
