.contentContainer {
    background-color: rgb(252, 245, 245);
    @apply flex items-center justify-center;
    @apply w-full;
    @apply py-32;
    @apply m-0;
}

.contentContent {
    @apply flex flex-col items-center justify-start;
    @apply md:max-w-screen-2xl;
}

.contentTitle {
    color: rgb(14, 14, 14);
    @apply text-4xl md:text-6xl;
    @apply px-6 md:px-24;
    @apply text-center;
    font-family: 'Brandon Grotesque', sans-serif;
    @apply pb-16;
}
