.educationContainer {
    @apply flex flex-col gap-16;
    @apply items-center justify-center;
}

.educationCard {
    @apply max-w-lg overflow-hidden rounded-lg shadow-xl;
    @apply w-full p-2 md:p-5;

    background-color: rgb(251, 248, 248);
    border: rgba(225, 225, 225, 0.4) 1px solid;

    transition: transform 0.25s ease-in-out, border-color 0.25s ease-in-out;

    &:hover {
        transform: scale(1.15);
        .educationCardPeriod {
            color: rgba(92, 92, 92, 0.8);
        }
        border-color: rgba(225, 225, 225, 0.8);
    }
}

.educationCardTitle {
    @apply mb-2 text-lg md:text-2xl;
    color: rgb(24, 24, 24);
}

.educationCardSchool {
    @apply text-sm font-light md:text-base;
    color: rgb(52, 52, 52);
}

.educationCardDescription {
    @apply text-sm italic md:text-base;
    color: rgb(52, 52, 52);
}

.educationCardGrade {
    @apply mt-1 text-sm md:text-base;
    color: rgb(110, 110, 110);
}

.educationCardPeriod {
    @apply mt-2 text-right text-xl md:text-3xl;
    user-select: none;
    color: rgba(92, 92, 92, 0.4);
    transition: color 0.35s ease-out;
}
