.educationContainer {
    @apply flex flex-col gap-16;
    @apply justify-center items-center;
}

.educationCard {
    @apply max-w-lg rounded-lg overflow-hidden shadow-xl;
    @apply w-full p-5;

    background-color: rgb(251, 248, 248);
    border: rgba(225, 225, 225, 0.4) 1px solid;

    transition: transform 0.35s ease-out;

    &:hover {
        transform: scale(1.1);
    }
}

.educationCardTitle {
    @apply font-bold text-xl mb-2;
    color: rgb(14, 14, 14);
}

.educationCardSchool {
    color: rgb(64, 64, 64);
}

.educationCardDescription {
    @apply text-base italic;
    color: rgb(64, 64, 64);
}

.educationCardGrade {
    @apply text-base;
    color: rgb(64, 64, 64);
}

.educationCardPeriod {
    @apply text-right text-3xl;
    user-select: none;
    color: rgba(92, 92, 92, 0.3);
}
