@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-text-string {
    white-space: pre;
    display: inline;
}

.hero-text-character {
    white-space: pre;
    display: inline;
    animation: textEnter 0.11s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes textEnter {
    0% {
        color: transparent;
        margin-left: -1rem;
    }

    100% {
        color: inherit;
        margin-left: 0;
    }
}
