@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-text-string {
    display: contents;
}

.hero-text-character {
    display: contents;
    animation: textEnter 0.11s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#hero-container {
    background: rgb(24, 24, 27);
    background: linear-gradient(
        180deg,
        rgb(24, 24, 27) 0%,
        rgb(10, 10, 10) 50%,
        rgb(0, 0, 0) 100%
    );
}

@keyframes textEnter {
    0% {
        color: transparent;
        margin-left: -1rem;
    }

    100% {
        color: inherit;
        margin-left: 0;
    }
}
