<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarang Janawalkar</title>

    <link href="./index.css" rel="stylesheet">
</head>

<body class="w-full h-full">
    <div
        class="landing-page bg-gray-50 text-center flex justify-center items-center flex-col gap-y-10 px-96 w-full h-screen">
        <div class="text-8xl text-gray-200 font-bold ">Welcome!</div>
        <div class="text-lg text-gray-800">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta iure laborum voluptates modi odit, ut
            repudiandae quo delectus ipsa. Ad quae, debitis soluta veritatis porro exercitationem. Omnis eum laboriosam
            quisquam.
        </div>
    </div>
    <div
        class="about bg-white text-center flex justify-center items-center flex-col gap-y-4 py-52 w-full h-full">
        <div class="text-4xl text-gray-800 font-bold">What I do</div>
        <table>
            <tr>
                <th>Studying</th>
                <td>Bachelor of Engineering (Honours) & Bachelor of Mathematics</td>
            </tr>
            <tr>
                <th>University</th>
                <td>Queensland University of Technology</td>
            </tr>
        </table>
        <div class="flex ">programming...</div>
    </div>
    <div class="projects bg-white text-center flex justify-center items-center flex-col gap-y-4 py-52 w-full h-full">
        <div class="text-4xl text-gray-800 font-bold">Projects</div>
        <a href="./unit_visualiser.html">Click here</a>

    </div>
    <div class="accomplishments bg-white text-center flex justify-center items-center flex-col gap-y-4 py-52 w-full h-full">
        <div class="text-4xl text-gray-800 font-bold">Accomplishments</div>

    </div>
</body>
<footer>
    <div class="flex text-sm text-gray-100 justify-between items-center flex-col px-32 py-24">
        <div>© 2021 Tarang Janawalkar<br>All Rights Reserved</div>
        <div></div>
    </div>
</footer>

</html>