<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Visualiser</title>

    <link href="/index.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.2.1/d3.min.js"
        integrity="sha512-wkduu4oQG74ySorPiSRStC0Zl8rQfjr/Ty6dMvYTmjZw6RS5bferdx8TR7ynxeh79ySEp/benIFFisKofMjPbg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://marvl.infotech.monash.edu/webcola/cola.min.js"></script> -->
</head>

<body>
    <div class="app flex justify-center items=center bg-gray-100 w-screen h-screen">
        <nav id="sidebar" class="sidebar-closed fixed h-screen w-72 left-0 top-0 bg-blue-500">
            <div id="sidebar-btn" class="sidebar-btn-closed absolute top-8 -right-8 w-8 h-8 cursor-pointer">
                <img id="sidebar-btn-icon" class="h-full w-full" src="/images/arrow-right.svg" alt="Open Sidebar">
            </div>
            <div class="flex flex-col justify-start items-center gap-2 p-8 overflow-y-auto">
                <!-- Select Units -->
                <div class="w-full">
                    <label class="text-left text-lg text-gray-100 w-full" for="unit-select">
                        Select Units:
                    </label>
                    <input id="unit-select" class="w-full p-2" type="text" name="unit-select" oninput="selectUnits()">
                </div>
                <!-- Displayed Units -->
                <div class="w-full">
                    <div class="text-left text-lg text-gray-100 w-full">
                        Displayed Units:
                    </div>
                    <div class="h-32 overflow-y-auto"></div>
                </div>
                <!-- Units Description -->
                <div class="w-full">
                    <div class="text-left text-lg text-gray-100 w-full">
                        Unit Description:
                    </div>
                    <div class="h-32">
                        Name: <br>
                        Faculty: <br>
                        School: <br>
                        Name: <br>
                    </div>
                </div>
                <!-- Unit Prerequisites -->
                <div class="w-full">
                    <div class="text-left text-lg text-gray-100 w-full">
                        Prerequisites:
                    </div>
                    <div class="h-32 overflow-y-auto">
                        Name: <br>
                        Faculty: <br>
                        School: <br>
                        Name: <br>
                    </div>
                </div>
                <div class="powered-by">Powered by <img src="./images/d3_js.svg" alt="d3.js Logo"></div>
            </div>
        </nav>
        <script src="./sidebar.js"></script>
        <script src="./app.js"></script>
    </div>
</body>

</html>