.heroContainer {
    @apply w-full min-h-screen;
    @apply flex flex-col items-center justify-center;
    @apply bg-spaceblack;
    padding: 0;
    margin: 0;
}

.heroMainContent {
    @apply w-full h-full;
    @apply flex flex-col justify-center content-center items-center;
    @apply lg:mx-48 md:mx-32 sm:mx-24;
    @apply lg:my-36 md:my-24 sm:my-16;
}

.heroName {
    @apply text-right;
    color: rgb(255, 243, 243);
    @apply text-6xl sm:text-7xl md:text-8xl lg:text-9xl xl:text-[12rem];
    @apply py-2 sm:py-4 lg:py-10;
    font-family: 'Bison';
}

.heroTitle {
    @apply text-center;
    color: rgb(255, 245, 245);
    @apply text-lg sm:text-xl md:text-3xl lg:text-4xl xl:text-5xl;
    @apply py-2 lg:py-4;
    font-family: 'Brandon Grotesque', sans-serif;
}

.heroTemporary {
    @apply text-center;
    color: rgb(255, 243, 243);
    @apply text-xl sm:text-2xl lg:text-3xl;
    @apply py-8 lg:py-16;
    font-family: 'Brandon Grotesque', sans-serif;
}

.heroBottomContent {
    @apply bottom-0;
    @apply flex flex-row justify-start;
    @apply h-16 w-full;
    // border-top: 2px solid rgba(255, 245, 245, 0.6);
}
