@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

footer {
	background-color: #0093e9;
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

/* index.html */

.landing-page {
}

/* unit_visualiser.html */

#sidebar {
	transition: left 0.5s cubic-bezier(0.65, 0.2, 0.45, 1);
}

.sidebar-closed {
	left: -18rem;
}

.sidebar-btn-closed {
	transition: transform 0.5s cubic-bezier(0.65, 0.2, 0.45, 1),
		right 0.5s cubic-bezier(0.65, 0.2, 0.45, 1),
		background-color 0.5s cubic-bezier(0.65, 0.2, 0.45, 1);
}

.sidebar-btn-closed:hover {
	transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
	transform-origin: center left;
	transform: scale(1.3);
}

.sidebar-btn-opened {
	transform: scaleX(-1);
	right: 0;
}

.sidebar-btn-opened:hover {
    color: white;
    border-radius: 0 2rem 2rem 0;
	/* -webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
	transform-origin: center right;
	transform: scale(1.3); */
}

.cola-js {
	font-size: 64px;
	font-weight: 300;
	letter-spacing: -2px;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
	cursor: move;
}

.group {
	stroke: #fff;
	stroke-width: 1.5px;
	cursor: default;
	opacity: 0.7;
}

.link {
	stroke: #7a4e4e;
	stroke-width: 3px;
	stroke-opacity: 1;
}

.label {
	fill: white;
	font-family: Verdana;
	font-size: 25px;
	text-anchor: middle;
	/* cursor: move; */
}

.label_alias {
	display: none;
}

.label::hover ~ .label_alias {
	display: block;
}
